---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>My call to action is this: Commit calculated and precise actions. Find the rich and powerful, find the 1%, find your masters who built this system that subjugates you. Find them and make them pay for their wrongdoings. Do not harm the average man, do not harm those who simply make more than you, only do harm to those who manipulate and control the system. Be blind to religion, creed, color and simply do harm to the billionaires. </span>
      </h3>
    </div>

    <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-32">
      {
        testimonials.map((opinion, index) => (
         <div    data-aos="fade-up"
         data-aos-duration={calculateAosDuration(index)} class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4">
            <p class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32">
              {opinion.opinion}
            </p>
            <p class="italic text-xs block ">
              {opinion.name} {opinion.role}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>

<section class="bg-primary">
<a href="https://odysee.com/@TLTWB-Resources:4">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg class="text-secondary" viewBox="0 0 167 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 264 29"><g filter="url(#a)"><path fill="red" d="M11.59.192C10.71 1.6 10.008 3.2 9.48 4.992a19.52 19.52 0 0 0-.792 5.592c0 1.952.264 3.824.792 5.616.528 1.776 1.232 3.368 2.112 4.776H7.75c-.992-1.408-1.752-3-2.28-4.776a19.767 19.767 0 0 1-.792-5.616c0-1.952.264-3.816.792-5.592C5.999 3.2 6.759 1.6 7.75.192h3.84Zm5.322 4.68c1.104 0 2.048.272 2.832.816.784.528 1.392 1.288 1.824 2.28.432.992.648 2.16.648 3.504 0 1.36-.208 2.544-.624 3.552-.416 1.008-1.016 1.784-1.8 2.328-.768.544-1.696.816-2.784.816-1.216 0-2.28-.28-3.192-.84-.912-.56-1.616-1.344-2.112-2.352-.496-1.008-.744-2.184-.744-3.528 0-1.328.24-2.48.72-3.456.496-.976 1.192-1.736 2.088-2.28.912-.56 1.96-.84 3.144-.84Zm1.152 3.408c-.56 0-1.056.136-1.488.408-.416.272-.744.656-.984 1.152-.224.496-.336 1.072-.336 1.728 0 .656.112 1.232.336 1.728.24.48.568.864.984 1.152.432.272.928.408 1.488.408.56 0 1.048-.136 1.464-.408.416-.288.736-.672.96-1.152.24-.496.36-1.072.36-1.728 0-.656-.12-1.232-.36-1.728a2.63 2.63 0 0 0-.96-1.152c-.416-.272-.904-.408-1.464-.408ZM20.848.192h4.272V18h-4.272V.192Zm12.469 4.704c1.424 0 2.664.272 3.72.816 1.072.544 1.904 1.312 2.496 2.304.592.992.888 2.152.888 3.48 0 1.328-.296 2.496-.888 3.504-.592.992-1.424 1.768-2.496 2.328-1.056.544-2.296.816-3.72.816-1.424 0-2.672-.272-3.744-.816A6.194 6.194 0 0 1 27.1 15c-.576-1.008-.864-2.176-.864-3.504 0-1.328.288-2.488.864-3.48a6.03 6.03 0 0 1 2.472-2.304c1.072-.544 2.32-.816 3.744-.816Zm0 3.384c-.56 0-1.048.136-1.464.408-.416.272-.744.656-.984 1.152-.224.496-.336 1.072-.336 1.728 0 .656.112 1.232.336 1.728.24.48.568.856.984 1.128.416.272.904.408 1.464.408.56 0 1.048-.136 1.464-.408a2.6 2.6 0 0 0 .984-1.128c.24-.496.36-1.072.36-1.728 0-.656-.12-1.232-.36-1.728a2.576 2.576 0 0 0-.984-1.152c-.416-.272-.904-.408-1.464-.408Zm17.105 2.736c0-.736-.2-1.32-.6-1.752-.4-.432-.936-.648-1.608-.648-.8.016-1.432.304-1.896.864-.448.544-.672 1.248-.672 2.112h-1.008c0-1.472.216-2.704.648-3.696.432-1.008 1.04-1.768 1.824-2.28.8-.512 1.752-.768 2.856-.768.944 0 1.768.208 2.472.624.72.4 1.272.976 1.656 1.728.384.736.576 1.608.576 2.616V18h-4.248v-6.984ZM41.398 5.04h4.272V18h-4.272V5.04Zm19.82 8.352c0 .496.103.856.311 1.08.208.224.496.328.864.312.224 0 .472-.04.745-.12a8.2 8.2 0 0 0 .863-.312l.816 2.952a5.815 5.815 0 0 1-1.631.672 8.095 8.095 0 0 1-1.873.216c-.832 0-1.576-.152-2.232-.456a3.754 3.754 0 0 1-1.56-1.392c-.367-.624-.552-1.384-.552-2.28v-12h4.248v11.328ZM55.169 5.64h9.409v2.784h-9.409V5.64ZM64.04.192h3.815c.992 1.408 1.752 3.008 2.28 4.8a19.52 19.52 0 0 1 .792 5.592c0 1.952-.264 3.824-.792 5.616-.528 1.776-1.288 3.368-2.28 4.776h-3.816c.88-1.408 1.576-3 2.088-4.776.528-1.792.792-3.664.792-5.616a19.52 19.52 0 0 0-.792-5.592C65.614 3.2 64.918 1.6 64.038.192Zm26.117 6.624a6.127 6.127 0 0 0-1.944-1.632c-.752-.4-1.496-.6-2.232-.6-.64 0-1.24.128-1.8.384-.56.24-1.048.584-1.464 1.032a4.42 4.42 0 0 0-.96 1.56 5.451 5.451 0 0 0-.336 1.944c0 .704.112 1.36.336 1.968.224.592.544 1.112.96 1.56.416.448.904.8 1.464 1.056.56.24 1.16.36 1.8.36.704 0 1.424-.176 2.16-.528a7.233 7.233 0 0 0 2.016-1.464l2.568 2.712a10.53 10.53 0 0 1-2.064 1.68 10.59 10.59 0 0 1-2.424 1.08 8.448 8.448 0 0 1-2.496.384c-1.264 0-2.432-.216-3.504-.648a8.835 8.835 0 0 1-2.808-1.848 8.909 8.909 0 0 1-1.848-2.784c-.448-1.072-.672-2.232-.672-3.48 0-1.232.224-2.368.672-3.408a8.258 8.258 0 0 1 1.896-2.76 8.722 8.722 0 0 1 2.856-1.824c1.104-.432 2.296-.648 3.576-.648.832 0 1.664.12 2.496.36a9.507 9.507 0 0 1 2.352.984A8.763 8.763 0 0 1 92.7 3.792l-2.544 3.024Zm3.25-5.64h4.391v13.128h7.128V18h-11.52V1.176Zm12.323 0h4.392V18h-4.392V1.176Zm18.632 5.64a6.127 6.127 0 0 0-1.944-1.632c-.752-.4-1.496-.6-2.232-.6-.64 0-1.24.128-1.8.384-.56.24-1.048.584-1.464 1.032a4.42 4.42 0 0 0-.96 1.56 5.451 5.451 0 0 0-.336 1.944c0 .704.112 1.36.336 1.968.224.592.544 1.112.96 1.56.416.448.904.8 1.464 1.056.56.24 1.16.36 1.8.36.704 0 1.424-.176 2.16-.528a7.233 7.233 0 0 0 2.016-1.464l2.568 2.712a10.53 10.53 0 0 1-2.064 1.68 10.59 10.59 0 0 1-2.424 1.08 8.448 8.448 0 0 1-2.496.384c-1.264 0-2.432-.216-3.504-.648a8.835 8.835 0 0 1-2.808-1.848 8.909 8.909 0 0 1-1.848-2.784c-.448-1.072-.672-2.232-.672-3.48 0-1.232.224-2.368.672-3.408a8.258 8.258 0 0 1 1.896-2.76 8.722 8.722 0 0 1 2.856-1.824c1.104-.432 2.296-.648 3.576-.648.832 0 1.664.12 2.496.36a9.507 9.507 0 0 1 2.352.984 8.763 8.763 0 0 1 1.944 1.536l-2.544 3.024Zm3.249-5.64h4.392v7.392l6.312-7.392h5.088l-11.4 12.624V18h-4.392V1.176Zm9.216 6.456L143.786 18h-5.256l-4.632-6.912 2.928-3.456Zm11.365-6.456h14.424v3.552h-5.04V18h-4.392V4.728h-4.992V1.176Zm15.007 0h4.392v6.888h6.792V1.176h4.392V18h-4.392v-6.48h-6.792V18h-4.392V1.176Zm17.643 0h4.392V18h-4.392V1.176Zm18.056 5.016a10.996 10.996 0 0 0-1.896-.936 12.16 12.16 0 0 0-1.92-.624c-.608-.16-1.144-.24-1.608-.24-.528 0-.952.104-1.272.312-.32.192-.48.496-.48.912 0 .416.152.76.456 1.032.32.256.744.472 1.272.648.528.176 1.112.352 1.752.528.64.176 1.272.384 1.896.624.624.24 1.2.552 1.728.936.528.368.952.848 1.272 1.44.32.592.48 1.328.48 2.208 0 1.136-.304 2.096-.912 2.88-.608.768-1.424 1.352-2.448 1.752-1.024.384-2.16.576-3.408.576-.944 0-1.888-.104-2.832-.312a13.837 13.837 0 0 1-2.664-.936 11.633 11.633 0 0 1-2.256-1.464l1.704-3.384a9.98 9.98 0 0 0 1.944 1.344c.72.384 1.448.688 2.184.912.736.208 1.392.312 1.968.312.656 0 1.168-.12 1.536-.36.384-.256.576-.624.576-1.104 0-.416-.16-.752-.48-1.008-.32-.272-.744-.496-1.272-.672a23.872 23.872 0 0 0-1.752-.504 32.207 32.207 0 0 1-1.896-.6 8.793 8.793 0 0 1-1.728-.888 4.166 4.166 0 0 1-1.272-1.416c-.304-.576-.456-1.296-.456-2.16 0-1.04.272-1.944.816-2.712.56-.784 1.344-1.384 2.352-1.8 1.024-.432 2.208-.648 3.552-.648 1.232 0 2.44.176 3.624.528 1.184.352 2.216.808 3.096 1.368l-1.656 3.456Zm7.993-5.016h4.392v13.128h7.128V18h-11.52V1.176Zm12.323 0h4.392V18h-4.392V1.176Zm6.464 0h3.864l8.808 11.76-1.152.384V1.176h4.056V18h-3.84l-8.808-11.712 1.176-.384V18h-4.104V1.176Zm17.668 0h4.392v7.392l6.312-7.392h5.088l-11.4 12.624V18h-4.392V1.176Zm9.216 6.456L259.521 18h-5.256l-4.632-6.912 2.928-3.456Z" fill="FF0000"/>
     </svg>   
  </div>
</a>
</section>
