---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>I cannot stress enough the importance of calculated action, wanton violence and sabotage will only serve to fuel this administration's agenda and give pre-text to enact martial law.</span>
      </h3>
    </div>

    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>I can justify violent action for myself, I believe the wrongs are deserving of correction and that my purpose is to provide this correction. I cannot justify this violence for you, only you can do that.</span>
        <p> <span>You must set your own lines in the sand and hold yourself to your own ideals, do not give in to apathy or the hope that the situation will correct itself. Your life is all you have and you must ask yourself if you're willing to risk your life for what you believe in.</span> </p>
      </h3>
    </div>

    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Those waiting for justification will never find it. All the justification needed for violent action is already here. We as Americans have allowed ourselves to give up our rights, our freedoms, our happiness, our lives, and we now accept these conditions as everyday normal life.</span>
<br> 
<br> 
        <p> <span>America was not founded on the idea of people sleeping in the streets, it was not founded with the intention to provide a playground for the rich and powerful, it was not founded for the purpose of exploiting the common man. Our societal ideals have been twisted and perverted beyond recognition, and the average American is apathetic to this due to decades of corporate and government propaganda conditioning people to accept it as their life and accept it as good enough.</span> </p>
<br> 
        <p> <span>33% of your life is dedicated to work, another 33% dedicated to sleeping, only 33% is left to you. People view their lives as intrinsically their own when in reality the average American is equally as much a worker as they are their own person. You only have ownership of your life if you exercise it, and the rich and powerful have built a society where if you exercise it you will die. We are forced to provide for our masters and in return they allow us to live, this is not a fair day's work this is modern slavery intended to keep us constrained to the system that the rich and powerful built and benefit from.</span> </p>
<br> 
         <p> <span>Nothing will change until change is forced. The main survival mechanism of Capitalism is it's ability to co-opt and absorb counter-culture movements. I.E. hippies of the 80's, the punk scene, environmentalism. That is why change must come from a complete collapse of the current systems, this collapse will not come peacefully, as peaceful actions will simply be co-opted and assimilated. This sytem we live under is built to exploit and subjugate, it cannot exist in it's current form without an upper class that benefits from labor and a lower class that provides the labor.</span> </p>
      </h3>
    </div>

    <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-32">
      {
        testimonials.map((opinion, index) => (
         <div    data-aos="fade-up"
         data-aos-duration={calculateAosDuration(index)} class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4">
            <p class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32">
              {opinion.opinion}
            </p>
            <p class="italic text-xs block ">
              {opinion.name} {opinion.role}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>
