---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>We are not an army, we most likely will not attack in groups, but we are still stronger together.</span>
      </h3>
    </div>
  </div>
<div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
        <h3 class="text-secondary text-base font-medium">
        <p><span>This website talks of how our false society has failed, how few have exploited and abused the many. But it does not all need to be bad.</span></p>
          <br>
        <p><span>We can support eachother's actions and ideals through OSINT, providing informational materials, and teaching OPSEC.</span></p>
          <br>
        <p><span>Attached to the Odysee link in the top header you will find multiple 3D printed gun files, in the coming days I will also provide instructions on cheap 3D printed weapons that cost less than $5 a gun. Additionally in the coming months I will look into launching a mutual-aid project through this website where I will provide 3D printed weapon kits to those who need them (dissenters, immigrants, allies), hopefully funded through donations.</span></p>
         <br>
        <p><span>On the Odysee link in the header I also plan to attach instructional guides on bomb creation, urban guerilla tactics, collateral damage mitigation, and other important/helpful topics. Please stay tuned and remember to not harm the average man even if they're not on your side. We are all puppets being played by the 1%.</span></p>
      </h3>
    </div>
</div>
</section>
