---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>True freedom comes from self-determination and being able to choose how to live your life without fear of death.</span>
      </h3>
    </div>
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Freedom does not mean being able to do normal things without fear of consequence, true freedom is being able to do things people don't like without fear of institutional(Government) consequences. There is no universal morality or ethical standards for beliefs and ideals, all people believe and practice different things. From athiesm to islam, pro-choice to pro-life, homophobic to gay, everyone has their own opinions. Freedom means respecting others opinions and life choices regardless of if you agree with it or not.</span>
      </h3>
<br>
      <h3 class="text-secondary text-base font-medium">
        <span>Under the Trump administration our freedom is weakening by the day. Over the last month (March-April 2025) the Trump administration has moved to deport multiple legal immigrants and green card holders simply for exercising their freedom of speech. I was born in the U.S. and I've been a citizen since birth, if there is nothing stopping the Government from deporting people here legally then what is to stop them from deporting me or you as well. When dissident is subject to deportation that is not free speech under any definition of the word.</span>
      </h3>
<br>
      <h3 class="text-secondary text-base font-medium">
        <span>I've spoken about this in other sections as well but the largest attack on freedom is one that has been hundreds of years in the making. Our current society gives people two choices, to either work or to die. A choice where one option involves death is not a choice at all, people do not freely trade their labor for undervalued capital. People do not freely give up 33% of their entire life simply to enrich the pockets of the 1%. People go to work and do these things because they are forced to by society. The modern work environment is at it's core an extension of serfdom, only with our fuedal lords replaced by billionaires. The ruling class never gave up their rule or their enslavement of the average man, they simply found new methods to hide it under.</span>
      </h3>
<br>
      <h3 class="text-secondary text-base font-medium">
        <span>Society exists to facilitate human survival, cooperation, and the pursuit of collective and individual well-being. Modern America can hardly be called a society by that definition. We as a collective group do not help eachother to survive, we do not cooperate or pursue collective well-being. This sense of society has been perverted and twisted over millennia until it reached where we are today. We do not strive for collective well-being through taxes, instead our taxes are spent protecting corporate interests and policies that benefit the 1%. We pursue individual well-being through our work but it is misguided, our labor supports and lines the pockets of the ruling class, not the individual.</span>
      </h3>
<br>
      <h3 class="text-secondary text-base font-medium">
        <span>Our society gives us the choice of supporting the 1% or dying. Social safety nets have been removed or never even existed in the first place. The homeless and food insecure are left to sleep in the street and starve. The care homes for the mentally disabled have been closed and abandoned. The poor are left to die from lack of medical treatment. How can you believe that you have freedom of speech or freedom of choice, when you dont even have the freedom to live?</span>
      </h3>
    </div>
  </div>
</section>
