---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>True freedom comes from self-determination and being able to choose how to live your life without fear of death.</span>
      </h3>
    </div>

<div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
        <h3 class="text-secondary text-base font-medium">
        <p><span>We live in a society built on disparity, where a few indulge on excess and greed while many scrape by and suffer.</span></p>
          <br>
        <p><span>It used to be the case that a person in the U.S. could support a family of 3 while working 1 job, which is obviously no longer the case. This life was not lost due to external pressures, it was lost due to greed and exploitation. It was lost due to the capital-owning class exploiting worker's labor, moving production overseas to exploit workers even more than they could in the U.S. This life was lost for many more reasons than I can state but all of them boil down to one common denominator, they were fueled by greed and exploitation.</span></p>
          <br>
        <p><span>We now live in a modern age where a single company can generate 1 Billion dollars of revenue in a single day, however, still pays employee's little enough that they cannot afford to build a life of their own. We now live in an age where employees exist only to have their labor exploited.</span></p>
         <br>
        <p><span>Of course it is widely believed that people have free will to not be exploited, I view this to be propaganda. You are given the illusion of choice, the illusion of having any say in your life. In our society you have two viable options, to either work or die. Providing labor under the threat of death is not work it is modern slavery. We are not individual humans with dreams and goals we are slaves that only exist to provide the ruling class with value through our exploited labor.</span></p>
      </h3>
    </div>
</div>
</section>
