<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become full width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg class="text-secondary" viewBox="0 0 2126 374" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.579535 3.47727V1.09091H10.0611V3.47727H6.77982V12H3.86079V3.47727H0.579535ZM21.0812 6.54545C21.0812 7.75994 20.845 8.78445 20.3727 9.61896C19.9004 10.4499 19.263 11.0803 18.4604 11.5099C17.6579 11.9361 16.763 12.1491 15.7758 12.1491C14.7815 12.1491 13.883 11.9343 13.0805 11.5046C12.2815 11.0714 11.6458 10.4393 11.1735 9.60831C10.7047 8.77379 10.4704 7.75284 10.4704 6.54545C10.4704 5.33097 10.7047 4.30824 11.1735 3.47727C11.6458 2.64276 12.2815 2.01243 13.0805 1.58629C13.883 1.1566 14.7815 0.941761 15.7758 0.941761C16.763 0.941761 17.6579 1.1566 18.4604 1.58629C19.263 2.01243 19.9004 2.64276 20.3727 3.47727C20.845 4.30824 21.0812 5.33097 21.0812 6.54545ZM18.0343 6.54545C18.0343 5.89205 17.9473 5.34162 17.7733 4.89418C17.6028 4.44318 17.3489 4.10227 17.0116 3.87145C16.6778 3.63707 16.2658 3.51989 15.7758 3.51989C15.2857 3.51989 14.872 3.63707 14.5346 3.87145C14.2008 4.10227 13.9469 4.44318 13.7729 4.89418C13.6025 5.34162 13.5172 5.89205 13.5172 6.54545C13.5172 7.19886 13.6025 7.75107 13.7729 8.20206C13.9469 8.6495 14.2008 8.99041 14.5346 9.22479C14.872 9.45561 15.2857 9.57102 15.7758 9.57102C16.2658 9.57102 16.6778 9.45561 17.0116 9.22479C17.3489 8.99041 17.6028 8.6495 17.7733 8.20206C17.9473 7.75107 18.0343 7.19886 18.0343 6.54545ZM25.1397 12V1.09091H28.1014V9.61364H32.5119V12H25.1397ZM33.5591 12V1.09091H41.4213V3.47727H36.5207V5.35227H41.0165V7.73864H36.5207V9.61364H41.4V12H33.5591ZM42.4418 3.47727V1.09091H51.9234V3.47727H48.6421V12H45.7231V3.47727H42.4418ZM55.428 3.47727V1.09091H64.9095V3.47727H61.6283V12H58.7092V3.47727H55.428ZM65.8741 12V1.09091H68.8358V5.35227H72.7562V1.09091H75.7179V12H72.7562V7.73864H68.8358V12H65.8741ZM76.9741 12V1.09091H84.8363V3.47727H79.9358V5.35227H84.4315V7.73864H79.9358V9.61364H84.815V12H76.9741ZM91.7633 12L88.546 1.09091H91.8486L93.34 7.80256H93.4253L95.1937 1.09091H97.7932L99.5616 7.82386H99.6469L101.138 1.09091H104.441L101.224 12H98.3898L96.5361 5.90625H96.4508L94.5971 12H91.7633ZM115.129 6.54545C115.129 7.75994 114.893 8.78445 114.421 9.61896C113.949 10.4499 113.311 11.0803 112.509 11.5099C111.706 11.9361 110.811 12.1491 109.824 12.1491C108.83 12.1491 107.931 11.9343 107.129 11.5046C106.33 11.0714 105.694 10.4393 105.222 9.60831C104.753 8.77379 104.519 7.75284 104.519 6.54545C104.519 5.33097 104.753 4.30824 105.222 3.47727C105.694 2.64276 106.33 2.01243 107.129 1.58629C107.931 1.1566 108.83 0.941761 109.824 0.941761C110.811 0.941761 111.706 1.1566 112.509 1.58629C113.311 2.01243 113.949 2.64276 114.421 3.47727C114.893 4.30824 115.129 5.33097 115.129 6.54545ZM112.083 6.54545C112.083 5.89205 111.996 5.34162 111.822 4.89418C111.651 4.44318 111.397 4.10227 111.06 3.87145C110.726 3.63707 110.314 3.51989 109.824 3.51989C109.334 3.51989 108.92 3.63707 108.583 3.87145C108.249 4.10227 107.995 4.44318 107.821 4.89418C107.651 5.34162 107.565 5.89205 107.565 6.54545C107.565 7.19886 107.651 7.75107 107.821 8.20206C107.995 8.6495 108.249 8.99041 108.583 9.22479C108.92 9.45561 109.334 9.57102 109.824 9.57102C110.314 9.57102 110.726 9.45561 111.06 9.22479C111.397 8.99041 111.651 8.6495 111.822 8.20206C111.996 7.75107 112.083 7.19886 112.083 6.54545ZM116.35 12V1.09091H121.059C121.868 1.09091 122.577 1.23828 123.184 1.53303C123.791 1.82777 124.263 2.25213 124.601 2.80611C124.938 3.36009 125.107 4.02415 125.107 4.7983C125.107 5.57955 124.933 6.23828 124.585 6.7745C124.24 7.31072 123.756 7.71555 123.131 7.98899C122.509 8.26243 121.783 8.39915 120.952 8.39915H118.139V6.09801H120.355C120.703 6.09801 121 6.0554 121.245 5.97017C121.494 5.88139 121.684 5.74112 121.815 5.54936C121.95 5.3576 122.017 5.10724 122.017 4.7983C122.017 4.4858 121.95 4.23189 121.815 4.03658C121.684 3.83771 121.494 3.69212 121.245 3.59979C121 3.50391 120.703 3.45597 120.355 3.45597H119.311V12H116.35ZM122.742 6.9929L125.469 12H122.252L119.588 6.9929H122.742ZM126.219 12V1.09091H129.181V9.61364H133.591V12H126.219ZM138.836 12H134.639V1.09091H138.793C139.916 1.09091 140.885 1.3093 141.702 1.74609C142.522 2.17933 143.154 2.80433 143.598 3.62109C144.046 4.4343 144.269 5.40909 144.269 6.54545C144.269 7.68182 144.047 8.65838 143.603 9.47514C143.16 10.2884 142.531 10.9134 141.718 11.3501C140.905 11.7834 139.944 12 138.836 12ZM137.6 9.4858H138.729C139.269 9.4858 139.729 9.39879 140.109 9.22479C140.493 9.05078 140.784 8.75071 140.983 8.32457C141.185 7.89844 141.286 7.3054 141.286 6.54545C141.286 5.78551 141.183 5.19247 140.977 4.76633C140.775 4.3402 140.477 4.04013 140.082 3.86612C139.692 3.69212 139.212 3.60511 138.644 3.60511H137.6V9.4858ZM148.328 12V1.09091H153.058C153.889 1.09091 154.587 1.20277 155.151 1.42649C155.72 1.65021 156.147 1.96626 156.435 2.37464C156.726 2.78303 156.872 3.2642 156.872 3.81818C156.872 4.21946 156.783 4.58523 156.606 4.91548C156.432 5.24574 156.186 5.52273 155.87 5.74645C155.554 5.96662 155.185 6.11932 154.762 6.20455V6.31108C155.231 6.32884 155.657 6.4478 156.041 6.66797C156.424 6.88459 156.73 7.18466 156.957 7.56818C157.184 7.94815 157.298 8.3956 157.298 8.91051C157.298 9.5071 157.142 10.038 156.829 10.5032C156.52 10.9684 156.08 11.3342 155.508 11.6005C154.936 11.8668 154.255 12 153.463 12H148.328ZM151.289 9.63494H152.674C153.172 9.63494 153.544 9.54261 153.793 9.35795C154.042 9.16974 154.166 8.89276 154.166 8.52699C154.166 8.27131 154.107 8.05469 153.99 7.87713C153.873 7.69957 153.706 7.56463 153.489 7.4723C153.276 7.37997 153.019 7.33381 152.717 7.33381H151.289V9.63494ZM151.289 5.50142H152.504C152.763 5.50142 152.992 5.46058 153.191 5.37891C153.39 5.29723 153.544 5.18004 153.655 5.02734C153.768 4.87109 153.825 4.68111 153.825 4.45739C153.825 4.12003 153.704 3.86257 153.463 3.68501C153.221 3.50391 152.916 3.41335 152.547 3.41335H151.289V5.50142ZM158.197 12V1.09091H166.06V3.47727H161.159V5.35227H165.655V7.73864H161.159V9.61364H166.038V12H158.197Z" fill="white"/>
</svg>
      
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>“The tree of Liberty must be refreshed from time to time with the blood of patriots and tyrants.” </span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Thomas Jefferson</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://odysee.com/@TLTWB:b"
                class="hover:text-secondary/80 text-secondary"
                >Odysee</a
              >
            </li><li>
              <a
                href="https://www.reddit.com/user/TLTWB/"
                class="hover:text-secondary/80 text-secondary"
                >Reddit</svg
                ></a
              >
            </li><li>
              <a
                href="mailto:M@tltwb.com"
                class="hover:text-secondary/80 text-secondary"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
