<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg" line-height: 150%;>
      <p
        class="text-3xl/5 leading-6 lg:col-span-3 lg:text-5xl/5 lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000">
       A site for like-minded individuals to provide mutual aid and support to eachother, to access resources and training, and organize action.
      </p>
      <p   class="text-3xl/5 leading-6 lg:col-span-3 lg:text-5xl/5 lg:leading-9 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      data-aos="fade-up"
      data-aos-duration="3000">
        Together, we can re-write the American experience, raising all peoples out of poverty and learned apathy, bringing consequences to the wrongs of the few for the gained benefit of the many.
      </p>
    </div>
  </div>
</section>
