<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
       placeholder
      </p>
      <p   class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      data-aos="fade-up"
      data-aos-duration="3000">
        Together, we can re-write the American experience, raising all peoples out of poverty and learned apathy, bringing consequences to the wrongs of the few for the gained benefit of the many.

      </p>
    </div>
  </div>
</section>
