---
const testimonials = [
  {
    name: "",
    role: "",
    opinion:
      "",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---


<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>The wealth of a man is not a measure of success but rather a measure of their ability to manipulate and exploit others.</span>
      </h3>
    </div>

    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>The top 10% of U.S. households now hold 67.3% of the nation's total household wealth. With an average net worth of $7.2 Million.</span>
      </h3>
<br> 
      <h3 class="text-secondary text-base font-medium">
        <p> <span>The top 1% of U.S. households hold 30.3% of the nation's total household wealth. With an average net worth of $13.7 Million.</span> </p>
      </h3>
<br> 
      <h3 class="text-secondary text-base font-medium">
        <p> <span>The bottom 50% of U.S. households only hold 2.7% of the nation's total household wealth. With an average net worth of $52,000.</span> </p>
      </h3>
<br> 
      <h3 class="text-secondary text-base font-medium">
        <p> <span>U.S. billionaires gained $2.8 trillion in wealth between 2020–2024. During this same period of time over 50 million Americans experienced food insecurity.</span> </p>
      </h3>
    </div>

    <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-32">
      {
        testimonials.map((opinion, index) => (
         <div    data-aos="fade-up"
         data-aos-duration={calculateAosDuration(index)} class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4">
            <p class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32">
              {opinion.opinion}
            </p>
            <p class="italic text-xs block ">
              {opinion.name} {opinion.role}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>The wealth of a man is not a measure of success but rather a measure of their ability to manipulate and exploit others.</span>
      </h3>
    </div>
  </div>
</section>
